.app {
  overflow: hidden;
  display: flex;
  .shakeTree{
    // animation: shake 3s linear ;  
    animation: shake 3s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  .container{
    width: 80%;
    display: flex;  
    justify-content: center;
    position: relative;
    .apples{
      position: absolute ;
      width: 415px;
      height: calc(100% / 3);
      padding-top: 50px;
      height: 100vh;
      display: flex;
      overflow:hidden ;
      .animation{
        animation: dropit 2s linear ;
      }
      .appleContainer{
        position: relative;
        top: 80px;
        z-index: 8;
        height: 0;
        .apple{
          position: absolute;
          width: 30px;
          height: 30px;      
          bottom: 0;
          z-index: 9;     
        }
      }  
    }
    .tree{
      height: 100vh;     
    }
  }
  .leftSide{
    height: 100vh;
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-direction: column;
    .btn{
      border-radius: 15px;
      padding: 15px;
      border: none;
      background-color: aqua;
      margin-top: calc(100%/3);
      outline: 0;
    }
    .basketContainer{
      display: flex;
      align-items: flex-end;
      justify-content: center;
      .basketDiv{
        position: absolute;
        width: 160px;
        height: 130px;  
        .apple{
          position: absolute;
          width: 30px;
          height: 30px;
          z-index: 1;     
        }
        
      }
      .basket{
        width: 13rem;
        height: 13rem;
        z-index: 2;
      }
    }
  }
}

@keyframes dropit{
  0%{
    height: 0%;
  }
  100%{
    height: 100%;
  }
}

@keyframes shake {
  5%,10%, 90%,95% {
    transform: translate3d(-1px, 0, 0);
  }
  
  15%,20%, 80%,85% {
    transform: translate3d(2px, 0, 0);
  }

  25%,30%, 50%, 70%,75% {
    transform: translate3d(-4px, 0, 0);
  }

  35%,40%, 60%,65% {
    transform: translate3d(4px, 0, 0);
  }
}

// @keyframes shake{
//   0%{
//     transform: skewX(0deg);
//   }
//   5%{
//     transform: skewX(0.2deg);
//   }
//   10%{
//     transform: skewX(0deg);
//   }
//   15%{
//     transform: skewX(-0.2deg);
//   }
//   20%{
//     transform: skewX(0deg);
//   }
//   25%{
//     transform: skewX(0.2deg);
//   }
//   30%{
//     transform: skewX(0deg);
//   }
//   35%{
//     transform: skewX(-0.2deg);
//   }
//   40%{
//     transform: skewX(0deg);
//   }
//   45%{
//     transform: skewX(0.2deg);
//   }
//   50%{
//     transform: skewX(0deg);
//   }
//   55%{
//     transform: skewX(-0.2deg);
//   }
//   60%{
//     transform: skewX(0deg);
//   }
//   65%{
//     transform: skewX(0.2deg);
//   }
//   75%{
//     transform: skewX(0deg);
//   }
//   80%{
//     transform: skewX(-0.2deg);
//   }
//   85%{
//     transform: skewX(0deg);
//   }
//   90%{
//     transform: skewX(0.2deg);
//   }
//   95%{
//     transform: skewX(0deg);
//   }
//   100%{
//     transform: skewX(-0.2deg);
//   }
// }